*.o
*.a
*.mod
*.x
*~
*.x.dSYM
*.fn*
*.ky*
*.pg*
*.tp*
*.vr*
*.mv*
*.dvi
*.info
*.swp
fort.75

# Ignore AppleDouble files and Mac .DS_Store files
._*
.DS_Store

# Ignore LaTeX auxilliary files and made PDFs
*.aux
*.log
*.out
*.synctex.gz
*.toc

# Sphinx files
__pycache__

doxygen